scipy
numpy
mmcif >= 0.88.0
rcsb.utils.chemref >= 0.79
rcsb.utils.citation >= 0.16
rcsb.utils.config >= 0.35
rcsb.utils.ec >= 0.22
rcsb.utils.io >= 1.21
rcsb.utils.multiproc >= 0.18
rcsb.utils.repository >= 0.28
rcsb.utils.seq >= 0.63
rcsb.utils.struct >= 0.37
rcsb.utils.targets >= 0.56
rcsb.utils.taxonomy >= 0.39
rcsb.utils.validation >= 0.25
rcsb.utils.insilico3d >= 0.16
